RAILS_MAX_THREADS: '5'
RAILS_LOG_TO_STDOUT: 'true'

# DATABASE (PostgreSQL 15+)
DB_HOST: 'localhost'
DB_USERNAME: 'postgres'
DB_PASSWORD: 'postgres'
DB_NAME: 'marcopolo_development'

# REDIS 7.x
REDIS_HOST: '127.0.0.1'
REDIS_PORT: '6379'
REDIS_DB: '1'

# SECRET
SECRET_KEY_BASE: ''
LOGIN_SECRET_KEY: ''

# SENTRY
SENTRY_DSN: ''

# SMTP (default)
SMTP_HOST: 'localhost'
SMTP_USER: ''
SMTP_PASSWORD: ''
SMTP_PORT: '587'

# AWS S3 (Active Storage)
S3_BUCKET: ''
S3_KEY: ''
S3_SECRET: ''
S3_REGION: ''

# NEWRELIC
NEW_RELIC_AGENT_ENABLED: '0'
NEW_RELIC_KEY: ''
NEW_RELIC_APP_NAME: 'marcopolo'

# ELASTIC APM
ELASTIC_APM_SERVER_URL: ''
ELASTIC_APM_SECRET_TOKEN: ''
ELASTIC_APM_SERVICE_NAME: 'marcopolo'
ELASTIC_APM_ENABLED: '0'
ELASTIC_APM_IGNORE_URL_PATTERNS: '/up'
ELASTIC_APM_LOG_LEVEL: '3'
ELASTIC_APM_SAMPLE_RATE: '0.1'
ELASTIC_APM_TIMEOUT: '30s'

# BASIC AUTH
BASIC_AUTH_USERNAME: ''
BASIC_AUTH_PASSWORD: ''

